@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@tailwind scrollbar

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none!important;
    margin: 0!important;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield!important;
    appearance: textfield!important;
}

@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}


.toastContainer {
    z-index: 100000!important;
}